
.fa-plus-square {
    color: white;
    height: 20px;
  width: 20px;
  margin-right: 10px;
  font-size: 18px;
  }

  .applybtn{
    background-color: #ffde3a;
    font-weight: bold;
    width: 200px;
    height: 55px;
    color: white;
   
}

span {
    padding-left: 5px;
    padding-right:80px;
}

.up{
    background-color: #ffde3a;
    width: 700px; 
    height: 55px;
    color: #fff;
    margin-right: 350px;
    text-align: center;
    font-weight: bold;
    

}


.ctext{
    text-align-last: center;
  margin-top: -3px;
  font-weight: bolder;
}
h5{
font-weight: bold;
font-size: 18.2px;
}

.upcomingyatriimage{
    margin-top: -28px;
   border-radius: 10px;
    
}
.upcomingyatrides{
    margin-top: 5px;
}
.upcomingyatridet{
    font-weight: 550;
    font-size: 15px;
    margin-top: 10px;
}
.upcomingyatridate{
  
    margin-left: 450px;
    opacity: 0.5;
    font-weight:bold;
}
.exploreimage{
    margin-top: 7.5px;
    border-radius: 10px;
}
.exploretext{
    margin-top: 5px;
}
.block{
    background-color: #FFE55C;
    width: 70px; 
    height: 40px;
    margin-left: 20px;
    margin-top: 22px;
}
.blockname{
    margin-left: -40px;
    margin-top: 28px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .text{
      display: flex;
  }

  .profilename{
    font-weight: bold;
	margin-top: 10px;
	margin-left: 35px;
	cursor: default;
}

.bioo{ 
	margin-left: 35px;
	height: 60px;
	width: 40px;
	margin-top:15px ;
	cursor:default;

}
.bi{
	height: 0px;
	width: 0px;
}

.briefinfo{
	font-size: 15px;
	margin-top: 5px;
	cursor: pointer;	

}

.gallerybtn{
    background-color: #ffde3a;
    font-weight: bold;
    width: 100px;
    height: 40px;
    color: white;
    text-align: center; 
    margin:-10px auto 50px 180px;

   
}

